.container {
	position: absolute;
	top: 160px;left: 25%;right: 25%;
	color: #444;
}
.container h1 {
	font-size: 55px;
	font-family: OBold;
}

footer {
	position: absolute;
	bottom: 0px;left: 0px;right: 0px;
	color: #aaa;
}
footer a { color: #999;text-decoration: none; }

.nav li {
	display: inline-block;
	padding: 10px 31px;
	margin-top: 20px;
}
.nav a {
	text-decoration: none;
	color: #454545;
}
.nav a:hover { text-decoration: underline; }